<main>
  <h2>Home</h2>
  <div class="button_cont" ><a class="example_f" href="/versusMenu"><span>Versus</span></a></div>
  <div class="button_cont" (click)="setInitialModifiers()"><a class="example_f" href="/averageChoose"><span>Averages</span></a></div>
</main>
<footer id="HomeFooter">
  <div id="mainFooter">
      <div id="footerText">
          <p>About</p>
          <p>Contact</p>
      </div>
      <div id="footerText">
          <p>Basic Rules</p>
          <p>Features</p>
      </div>
      <div id="footerText">
          <p>News</p>
          <p>Patches</p>
      </div>
  </div>
  <br>
  <sub>You can go back to home if you click the logo</sub>
</footer>
