<h2>Versus Menu EPWHammer</h2>
<main>
  <h3 id="title"> Unit 1</h3>
  <div id="unit1">
    <div class="button_cont" ><a class="example_f" href="/versusCustomMenu"><span>Custom</span></a></div>
    <div class="button_cont" ><a class="example_f" href="/versusChoose"><span>Choose unit</span></a></div>
  </div>
  <h3 id="title"> Unit 2</h3>
  <div id="unit2">
    <div class="button_cont" ><a class="example_f" href="/versusCustomMenu"><span>Custom</span></a></div>
    <div class="button_cont" ><a class="example_f" href="/versusChoose"><span>Choose unit</span></a></div>
  </div>
    <br>
    <div class="button_cont" ><a class="example_f" href="/versusBegin"><span>Begin Versus</span></a></div>
    <div class="button_cont" ><a class="example_f" href="/home"><span>Back</span></a></div>
</main>
